* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
#background-video{
  position: fixed;
  top: 50%; left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.button-margin {
    margin-top: 125px;
}
.title {
    font-family: 'Francois One', sans-serif;
    text-shadow: 2px 2px #17aada; 
}
.button-style {
   color: #17aada !important;
}
.add-opacity {
    opacity: 0.8;
}
/*.alternate-background {
display: cover;
}*/
.progress {
    height: 25px !important;
}
.lyft {
    width: 50% !important;
    margin: 0px 0px 0px 93px !important;
}


