* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
#background-video{
  position: fixed;
  top: 50%; left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
}
.button-margin {
    margin-bottom: 80px;
    padding: 0px 0px 0px 0px !important;
}
.title {
    font-family: 'Francois One', sans-serif;
    text-shadow: 2px 2px darkmagenta; 
}
.button-style {
   color: #17aada !important;
}
.add-opacity {
    opacity: 0.8;
}
/*.alternate-background {
display: cover;
}*/
.progress {
    height: 25px !important;
}
.lyft {
    width: 50% !important;
    margin: 0px 0px 0px 93px !important;
}
.UpdatedText {
  color: red;
}
.center-button {
    padding-left: 63px !important;
}
.table-row {
    padding-left: 0px;
}
td {
    padding: 0px !important;
}
.font {
    font-size: 20px;
    font-family: 'Francois One', sans-serif;
}
.color {
    color: black !important;
}
.input-field label {
    color: white !important;
}
.welcome-font {
    font-family: 'Francois One', sans-serif;
    text-shadow: 1px 1px white;
    font-size: 17px;
}
.getstarted-font {
    font-family: 'Francois One', sans-serif;
    text-shadow: 1px 1px black;
    font-size: 22px;
}
.img-size {
    max-width: 100%;
}
.card-opacity {
    height: 410px;
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    box-shadow: 2px 4px 15px black;
    opacity: 0.9;
}
.foot {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px 10px 10px 10px;
  background-color: black;
  height: 30px;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.navbar {
    overflow: hidden;
    background-color: black;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    display: auto;
    z-index: 1;
}
.button-placement {
    display: auto;
    z-index: 0;
}